#layout-footer {
    color: white;
    z-index: 1;
    a {
        color: white;
        text-decoration: none;
    }
    background: #009688;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    .footer-nav {
        margin-left: 20%;
        ul {
            display: flex;
            list-style: none;
            li {
                margin-right: 30px;
            }
        }
    }
}